@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
  }
  
  html,
  body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
  
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    display: grid;
    place-items: center;
  }
  
  main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
  
  .container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
    color: var(--grey);
  }
  
  .avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
  
    position: relative;
  }
  
  .avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
  }
  
  .avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
  
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  
  h1 {
    font-size: 1.5rem;
  
    margin-top: 1.5rem;
  }
  
  a {
    color: var(--grey);
    text-decoration: none;
  
    margin-top: 0.25rem;
  
    display: flex;
    gap: 0.75rem;
  
    justify-content: center;
    align-items: center;
  }
  
  p {
    margin-top: 2rem;
  }
  
  ul {
    margin-top: 4rem;
  
    list-style: none;
    padding: 0;
  
    display: flex;
    gap: 0.5rem;
  
    justify-content: center;
  }

@media (min-width: 720px){
  main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 720px;
    height: 100vh;
  }

  .container{
    max-width: 80vw;
    width: 50vw;
  }
  .avatar {
    width: 20rem;
    margin: 3.9em auto 0;
  
    position: relative;
  }
  
  .avatar span {
    position: absolute;
    top: -1.5rem;
    z-index: 1;
  }

  .avatar span img {
    width: 10rem;
  }
  
  .avatar > img {
    width: 20rem;
    height: 23rem;
    object-fit: cover;  
  }

  h1 {
    font-size: 4rem;
    margin-top: 2rem;
  }
  
  a {
    font-size: 2rem;
    margin-top: 0.25rem;
  
    display: flex;
    gap: 0.75rem;
  
    justify-content: center;
    align-items: center;
  }

  #userLink img {
    width: 2rem;
  }
  
  p {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  
  ul {
    margin-top: 4rem;
  
    list-style: none;
    padding: 0;
  
    display: flex;
    gap: 1rem;
  
    justify-content: center;
  }

  ul li a img{
    height: 5rem;
  }
}

@media (min-width: 960px){
  main {
    background: url(images/desktop/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 960px;
    height: 100vh;
  }

  .container {
    background: url(images/background.svg) no-repeat center/cover;
    width: 24rem;
    max-width: 24rem;
    height: 38rem;
  }

  .faixa {
    height: 14rem;
    width: 60px;
    background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
  }
  
  .buraco {
    width: 80px;
    height: 10px;
    background: #121214;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 13.6rem;
    z-index: 0;
  }

  .avatar {
    width: 12rem;
    margin: 12rem auto 0;
    position: relative;
  }
  
  .avatar span {
    position: absolute;
    top: 3.5rem;
    z-index: 1;
  }

  .avatar span img {
    width: 5.5rem;
  }
  
  .avatar > img {
    width: 11rem;
    height: 12.5rem;
    object-fit: cover;
    margin-top: 4.4rem;
  }
  
  h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  p {
    margin: 2rem auto 0;
    width: 20rem;
    font-size: 1.2rem;
  }

  a {
    font-size: 1.4rem;
    margin-top: 0.25rem;
  
    display: flex;
    gap: 0.75rem;
  
    justify-content: center;
    align-items: center;
  }

  #userLink img {
    width: 1.4rem;
  }

  ul {
    margin-top: 4rem;
  
    list-style: none;
    padding: 0;
  
    display: flex;
    gap: 0.5rem;
  
    justify-content: center;
  }

  ul li a img{
    height: 4rem;
  }
}
